<!-- <app-carte-visite></app-carte-visite> -->
<!-- <app-first-component></app-first-component>-->
<!-- <app-user></app-user>  -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-magie></app-magie> -->
<!-- <app-list-filtre></app-list-filtre> -->

<!-- <app-users></app-users> -->
<!-- <app-hidden></app-hidden> -->
<!-- <app-show-date></app-show-date> -->
<!-- <app-generic-alert-buton buttonTitle="ping" alertMessage="Pong"></app-generic-alert-buton>
<app-generic-alert-buton buttonTitle="Marco" alertMessage="Polo"></app-generic-alert-buton>
<app-generic-alert-buton buttonTitle="Philippe" alertMessage="Je sais où tu te caches"></app-generic-alert-buton> -->
<app-button-menu></app-button-menu>
