.background
 {
  width: 620px;
  height: 350px;
  display: block;
  margin: auto;
  background-color: #ffffff;
  border-radius: 5px;
  border : 1px solid grey
 }

 .card-header
 {
  background-color: #f1ecec;
  height: 100px;
  text-align: right;
  font-size: 40px;
  padding: 10px;
  font-weight: 600;
  color: #017daa;
 }

 .name
 {
  font-size: 60px;
  padding: 1px;
  font-weight: 600;
  color: #ffffff;
 }

 .card
 {
  height: 200px;
  margin-top: 15px;
  border: 3px solid white;
  background-color: #017daa;
  padding: 30px;
  color: white;
  text-align: left;
  font-weight: 500;
 }

 .info
 {
  color: white;
  margin-top: 20px;
  text-align: left;
  font-weight: 150;
  font-size: 20px;
 }
