<div class ="background">
  <div class="card-header">
    {{user.company.name}}
    <div class="card">
      <div class="name">
        {{user.name}}
      </div>
      <div class="info">
        <p>Site : {{user.website}}</p>
        <p>Email : {{user.email}}</p>
        <p>Telephone : {{user.phone}}</p>
      </div>
    </div>
  </div>

</div>
<div>
  <h4>Entreprise :</h4>
  <input type="text" name="company-label" [(ngModel)]="user.company.name">
  <h4>Nom Prénom :</h4>
  <input type="text" name="nameLabel" [(ngModel)]="user.name" />
  <h4>Site web :</h4>
  <input type="text" name="websiteLabel" [(ngModel)]="user.website" />
  <h4>E-mail :</h4>
  <input type="text" name="emailLabel" [(ngModel)]="user.email" />
  <h4>Téléphone :</h4>
  <input type="text" name="phoneLabel" [(ngModel)]="user.phone" />
</div>

