.card
 {
  height: 150px;
  margin-top: 15px;
  border: 2px solid #1488b3;
  background-color: #017daa;
  padding: 30px;
  color: white;
  text-align: left;
  font-weight:10;
 }
.card-body
{
  height: 30px;
  margin-top: 15px;
  border: 2px solid white;
  background-color: #09303e;
}
